body {
    overflow: visible;
    overflow-y: scroll;
    background-color: #ffffff;
    overflow-x: hidden;
}

.mainContainer{
    width: 100%;
    height: auto;
}

body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a:link{
    text-decoration: none;
    color: gray;
}

a:visited {
    color: gray;
}

a:hover{
    color: #035392;
}

a:active{
    color: #035392;
}

h3{
    color: gray;
}

hr{
    color: #DADCE0;
}