#unisOver{
    text-align: center;
    color: white;
    position: absolute;
    width: auto;
    vertical-align: middle;
    top: 50%;
    left: 20%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#headInput{
    position: absolute;
    width: 40%;
    height: 50%;
    top: 10%;
    left: 30%;
    padding: 5px 7px;
    margin: 1px 0;
    border-radius: 7px;
    background-color: #F1F3F4;
}

#headInputIn{
    position: absolute;
    width: 93%;
    height: 50%;
    top: 1%;
    left: 4%;
    padding: 6px 8px;
    border-radius: 7px;
    background-color: #F1F3F4;
}

#first{
    position:relative;
    border-width:2px;
    width:20%;
    height: 100%;
    background-color: peachpuff;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
}

#second{
    position: relative;
    border-width:2px;
    width: 80%;
    height: 100%;
    left:0px;
    background-color: red;
    float: left;
    overflow: scroll;
    overflow-x: hidden;
}

#searchIcon{
    color: gray;
    position: absolute;
    top: 12.5px;
}

.top{
    box-shadow: 0 1px rgba(12, 13, 14, 0.15);
    min-width: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    background-color: #035392;
    transition: box-shadow cubic-bezier(.165, .84,.44, 1) .25s;
    height: 64px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    border-top: blue;
    margin: none;
}

.top._fixed{
    position: fixed;
    min-width: auto;
    box-shadow: 0 1px rgba(12, 13, 14, 0.1),
    0 1px 6px rgba(60,65, 70, 0.1);
    margin: none;
}


img {
    position: absolute;
    width: 3%;
	left:11%;
	top:5%;
}

body {
    overflow: visible;
    overflow-y: scroll;
}

body {
    background-color: #ffffff;
    overflow-x: hidden;
}

body {
    height: 100%;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.87);
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    margin: 0;
    text-size-adjust: 100%;
}

.container{
    width: auto;
    height: auto;
}